<!DOCTYPE html>
<html>
  <head>
    <title>T-Huis | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="T-Huis is een Nederlands Transgender Discord server voor iedereen die trans is. Join ons vandaag nog!">
    <meta property="og:title" content="T-Huis Discord">
    <meta property="og:description" content="T-Huis is de eerste, grootste en gezelligste transgender Discord Server van Nederland! Zelfs als je niet zeker weet of je trans bent staan onze deuren voor je open. Join ons vandaag nog!">
    <meta property="og:image" content="{{ site.url }}/assets/img/og-image.jpg">
    <meta property="og:url" content="{{ site.url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="logo-container">
          <div id="logo">
            <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/assets/img/t-huis-transparent.png" title="Klik hier om de Discord server te joinen" alt="T-huis logo"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="main">
        {{ content }}
      </div>
    </div>
  </body>
</html>